// Page specific overrides
.map {
  h1,
  h1.fancy {
    font-size: 1.3em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
  }
  .tagline {
    letter-spacing: inherit;
    display: inline-block;
    color: rgba(255,255,255,.5);
  }
}

//Common styles
#map{
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
}
